body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-image: url('bkg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
h1 {
  font-family: sans-serif;
}

li {
  list-style: none;
}

.container {
  text-align: center;
  padding: 30px;
  background-color: #fff;
  opacity: 0.85;
  display: flex;
  flex-direction: row;
  width: 50%;
}

.form{
  text-align: center;
}

.input {
  border-radius: 3px;
  background: #eee;
  border: 2px solid #ccc;
  padding: 6px 8px;
  text-align: center;
  color: #666;
}

.mensaje {
  color: red;
  font-size: 12px;
  font-weight: bolder;
}

.invalidInput {
  background: #f00;
}

.button {
  margin-top: 16px;
  border-radius: 3px;
  background: #37C210;
  border: 1px solid #29940B;
  padding: 6px 10px;
  color: #fff;
  opacity: 1;
}

.button2 {
  margin-top: 16px;
  border-radius: 3px;
  background: red;
  border: 1px solid red;
  padding: 6px 10px;
  color: #fff;
  opacity: 1;
}

.button3 {
  margin-top: 16px;
  border-radius: 3px;
  background: #ddd;
  border: 1px solid #999;
  padding: 6px 15px;
  color: #666;
  opacity: 0.7;
}

.button3:hover {
  opacity: 1;
}

.lista {
  text-align: center;font-family: sans-serif;
  font-size: 16px;
  margin-top: 10px;
  color: #666

}

.lista button {
  margin-left: 15px;
  border-radius: 3px;
  background: #666;
  border: 1px solid #eee;
  padding: 0px 3px 3px 3px;
  color: #fff;
  opacity: 0.5;
}

.lista button:hover {
  opacity: 1;
}